<?xml version="1.0"?>
<config>
    <modules>
        <MageBase_DpsPaymentExpress>
            <version>1.5.17</version>
        </MageBase_DpsPaymentExpress>
    </modules>
    <global>
        <models>
            <magebasedps>
                <class>MageBase_DpsPaymentExpress_Model</class>
                <resourceModel>magebasedps_mysql4</resourceModel>
            </magebasedps>
            <magebasedps_mysql4>
                <class>MageBase_DpsPaymentExpress_Model_Mysql4</class>
                <entities>
                    <debug><table>magebasedps_debug</table></debug>
                </entities>
            </magebasedps_mysql4>
        </models>
        <blocks>
            <magebasedps>
                <class>MageBase_DpsPaymentExpress_Block</class>
            </magebasedps>
        </blocks>
        <helpers>
            <magebasedps>
                <class>MageBase_DpsPaymentExpress_Helper</class>
            </magebasedps>
        </helpers>
        <resources>
            <magebasedps_setup>
                <setup>
                    <module>MageBase_DpsPaymentExpress</module>
                    <class>MageBase_DpsPaymentExpress_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magebasedps_setup>
            <magebasedps_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </magebasedps_write>
            <magebasedps_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </magebasedps_read>
        </resources>
        <payment>
            <cc>
                <types>
                    <DIN>
                        <code>DIN</code>
                        <name>Diners</name>
                        <order>80</order>
                    </DIN>
                </types>
            </cc>
        </payment>
        <events>
            <controller_front_init_before>
                <observers>
                    <magebasedpsDynamicRewrite>
                        <!-- on Magento pre 1.5.0.0 adds order statuses -->
                        <type>model</type>
                        <class>MageBase_DpsPaymentExpress_Model_Observer</class>
                        <method>addMageOneFourConfig</method>
                    </magebasedpsDynamicRewrite>
                </observers>
            </controller_front_init_before>
        </events>
    </global>
    <frontend>
        <events>
            <websiterestriction_frontend>
                <observers>
                    <magebasedps_allowDpsNotifications>
                        <type>singleton</type>
                        <class>MageBase_DpsPaymentExpress_Model_Observer</class>
                        <method>allowDpsNotifications</method>
                    </magebasedps_allowDpsNotifications>
                </observers>
            </websiterestriction_frontend>
        </events>
        <routers>
            <magebasedps>
                <use>standard</use>
                <args>
                    <module>MageBase_DpsPaymentExpress</module>
                    <frontName>magebasedps</frontName>
                </args>
            </magebasedps>
        </routers>
        <layout>
            <updates>
                <magebase_dpspaymentexpress>
                    <file>magebase_dpspaymentexpress.xml</file>
                </magebase_dpspaymentexpress>
            </updates>
        </layout>
    </frontend>
    <default>
        <payment>
            <magebasedpspxpost>
                <active>0</active>
                <frontend_checkout>1</frontend_checkout>
                <postusername/>
                <postpassword/>
                <cctypes>VI,MC</cctypes>
                <model>magebasedps/method_pxpost</model>
                <payment_action>authorize_capture</payment_action>
                <order_status>processing</order_status>
                <title>Credit Card (DPS PxPost)</title>
                <display_logos/>
                <allowspecific>0</allowspecific>
                <min_order_total>0</min_order_total>
                <max_order_total>0</max_order_total>
                <sort_order>1213</sort_order>
                <debug>0</debug>
            </magebasedpspxpost>
            <magebasedpspxpay>
                <active>0</active>
                <frontend_checkout>1</frontend_checkout>
                <model>magebasedps/method_pxpay</model>
                <pxpayuserid/>
                <pxpaykey/>
                <pxpayurl>https://sec.paymentexpress.com/pxpay/pxaccess.aspx</pxpayurl>
                <payment_action>authorize_capture</payment_action>
                <unpaid_order_status>pending_dps</unpaid_order_status>
                <order_status>processing</order_status>
                <title>Credit Card (DPS PxPay)</title>
                <display_logos/>
                <allowspecific>0</allowspecific>
                <min_order_total>0</min_order_total>
                <max_order_total>0</max_order_total>
                <sort_order>1216</sort_order>
                <debug>0</debug>
                <emailstosend>send_order</emailstosend>
                <test_locally>0</test_locally>
            </magebasedpspxpay>
        </payment>
    </default>
</config>
